

<div class="row" >


              
              	<hr><hr>
                <h1  class="title" style="color: white;">Upcoming Events</h1>

                <div class="inner">

                  <h4> Calagator is a unified calendar for the technology community of Portland, Oregon. We are an all-volunteer effort and encourage anyone to import, create, and edit events.</h4>

                  <a rel="calendar" type="application/json" href="http://calagator.org/events/search.json?tag=ruby">Loading...</a>

             

                <br>

                Thanks to <a href="http://calagator.org/">Calagator</a> for listing community events.
              </div>
              <br>
				   <hr>
				   <hr>
</div>