<div class="row">
<div class="booking col-md-10 col-md-offset-0" >

<h2>Register your event now.</h2>

<p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin. </p>
</div>

</div>

<div class="row">
		<div class="setup col-md-6 col-md-offset-">
			<h2>How to set up an event.</h2>

				<p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus. </p>
			<lo>
				<li>  Marquee selectus </li>
				<li>  Marquee selectus </li>
				<li>  Marquee selectus </li>
			</lo>
			<br>	
			<p> carborundum e pluribus unum. Defacto lingo est igpay atinlay.<p>

		</div>



	<div class="where col-md-6 col-md-offset-">
		<h2>Were to book your event.

		</h2>

			<p>Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous.</p>
	</div>
</div>