	
<br>
<br>
<div class="row">

	<div id="footer">

    

      	<div class="col-xs-9 col-xs-offset-0 col-sm-9 col-sm-offset-0 col-md-9 col-md-offset-2 col-lg-10 col-lg-offset-1 ">
      		<hr>
      		<hr>

        	<p class="text-muted "><em>Templete </em></p>

    	</div>

     </div>
</div>