


<hr>
<hr>

<div class="col-md-6 col-md-offset-0">

	
		<h2>
		Register/ Get tickets 


		</h2>

			<p>
			psum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre.
			</p>
			<br>
</div>
			<div class="col-md-6 col-md-offset-0">

				{# this is plac hoder tell later/ the client wants this are to be link to buying tickets  #}
				<!-- Begin MailChimp Signup Form -->
				 <div id="mc_embed_signup">

				 <form action="http://research-club.us4.list-manage1.com/subscribe/post?u=fee12476b321983d9a725e180&amp;id=04d0aa426f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				 	<h2>Register for OROR 2014</h2>
				 	<br>
				 	
				 	
				 <div class="mc-field-group">
				 	<label for="mce-EMAIL">Email Address </label>
				 	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				 </div>

				 	<div id="mce-responses" class="clear">
				 		<div class="response" id="mce-error-response" style="display:none"></div>
				 		<div class="response" id="mce-success-response" style="display:none"></div>
				 	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<br>

				     <div style="position: absolute; left: -5000px;"><input type="text" name="b_fee12476b321983d9a725e180_04d0aa426f" tabindex="-1" value=""></div>

				     <div class="clear col-md-0 col-md-offset-5"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				 </form>


			</div> 
				


	</div>	
</div>	

<br>
<br>
