
<div class="container col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-2  col-lg-6 col-lg-offset-3" id="who">
	     

	       <div class="row col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-2  col-lg-6 col-lg-offset-3">
	       	

	        	<h2 class="">FROM HERE?</h2>

	      </div>

	       <div class="row">

		        <h3  class=" col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-3"> Know ye now, Bulkington? Glimpses do ye seem to see of that mortally intolerable truth; that all deep.</h3>


		          <img src="http://placehold.it/350x150"  class=" img-responsive col-sm-4 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-4 col-lg-offset-2" >
		          
	       
	      </div>
	       <br>

	       <div class="row ">
 
    	        <h2 class=" col-xs-4 col-xs-offset-6 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-6 col-lg-4 col-lg-offset-6">IN TOWN FOR XOXO?</h2>
	        
	       </div>
	       
	     <div class="row">
	      
	        
			        <img src="http://placehold.it/350x150" class=" img-responsive col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-2 col-lg-4 col-lg-offset-2">
			        

			      <h3 class="col-xs-4 col-xs-offset-0 col-md-4 col-md-offset-0"> Know ye now, Bulkington? Glimpses do ye seem to see of that mortally intolerable truth; that all deep.</h3>
			        

	      </div>
	      <br>
 	</div> 
 </div>	