


<div class="row" class="col-md-6 col-md-offset-4">


              <div class="events">
              	<hr><hr>
                <h1 class="title" style="color: white;">Upcoming Events</h1>

                <div class="inner">

                  <h3> Calagator is a unified calendar for the technology community of Portland, Oregon. We are an all-volunteer effort and encourage anyone to import, create, and edit events.</h3>

                  <a rel="calendar" type="application/json" href="http://calagator.org/events/search.json?&max-results=5&tag=beer">Loading...</a>
                </div>
                <br>
                Thanks to <a href="http://calagator.org/">Calagator</a> for listing community events.
              </div>
				   <hr>
				   <hr>


</div>
